.conatiner {
  width: 25%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.conatiner_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input_controller {
  display: grid;
  gap: 15px;
}

.password_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password_title p:nth-child(2) {
  color: #218bff;
}
.password_title p:nth-child(2):hover {
  cursor: pointer;
}

.signin_button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.signin_button button {
  width: 100%;
}

.container_3 {
  display: flex;
  gap: 5px;
}
.container_3 a {
  text-decoration: underline;
  color: gray;
}

.forgot_password_modal {
  width: 20vw;
  display: grid;
  gap: 10px;
}

.modal_footer {
  display: flex;
  justify-content: space-around;
}

.modal_footer button {
  width: 110px;
}
