.container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_link {
  padding: 5px;
  border-radius: 3px;
}

.active_nav_link {
  color: white;
  background-color: black;
}
