.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 50%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  cursor: pointer;
}
